*{
    margin: 0%;
    padding: 0%;
}

body{
    background-image: url(img/bg.jpg);
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0% 0%;
    display: flex;
    justify-content: center;
    background-color: black;
}

.profileCard{
    position: relative;
    top: 10px;
    background-color: rgba(3, 169, 244, 0.5);
    width: auto;
    height: auto;
    border-radius: 25px;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: solid 1px #03a9f4;
    box-shadow: 0 0 15px rgba(3, 169, 244, 0.8);
    padding: 0%;
    margin-bottom: 30px;
}

.profilePicture{
    border-radius: 25px 25px 0 0;
    border: solid 5px white;
    position: relative;
}

.profileInfo{
    border: solid 5px white;
    position: relative;
    bottom: 19px;
    height: auto;
    width: 250px;
    background-color: white;
    text-align: left;           
    border-radius: 25px;
    align-items: center;
    justify-content: center;
}       

.profileInfo h1{
    padding-top: 5px;
    padding-left: 5px;
    font-size: 15px;
}
.profileInfo p{
    padding-left: 5px;
    font-size: 12px;
}

.jobTitle, .currentLocation{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    font-size: 15px;
}

.emailAddress{
    background-color: rgba(3, 169, 244, 0.5);
    border: 2px solid #03a9f4;
    border-radius: 50px ;
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 30px;
    padding: 0%;
    margin: 0%;
    cursor: pointer;
}

.emailAddress a{
    color: black;
    font-size: 1rem;
    text-decoration: none;
}

.emailAddress:hover, .socialLinks a:hover{
    background-color: rgba(3, 169, 244, 0);
    box-shadow: 0 0 15px rgba(3, 169, 244, 0.8);
}

.emailAddress a img{
    width: 25px;
    height: 25px;
}



.socialLinks a img, .icon{
    width: 20px;
    height: 20px;
}


.socialLinks{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    top: 20px;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    border-radius: 50px;
    
}

.socialLinks a{
    background-color: rgba(3, 169, 244, 0.5);
    border: 2px solid #03a9f4;
    border-radius: 50px ;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.currentTime{
    background-color: rgba(3, 169, 244, 0.3);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    border: 1px solid #03a9f4;
    border-radius: 50px;
    height: 30px;
    width: 230px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0%;
    margin: 0%;
    top: 20px;
    position: absolute;
    font-weight: bold;
    z-index: 999;
    font-size: 15px;
}





@media (min-width : 580px) {
    body{
        padding: 10px;
    }

    .profileCard{
        top: 100px;
        flex-direction: row;
        position: none;
        background-color: rgba(3, 169, 244, 0.5);
        width: 800px;
        height: auto;
        border-radius: 25px;
        display: flex;
        border: solid 1px #03a9f4;
        box-shadow: 0 0 15px rgba(3, 169, 244, 0.8);
        padding: 0%;
        margin: 0%;
    }
    .profilePicture{
        border-radius: 25px 0 0 25px;
        border: solid 5px white;
        padding-bottom: 0%;
        position: none;
    }

    .profilePicture img{
        width: 300px;
        height: 415px;
    }
    .profileInfo{
        border: solid 5px white;
        position: relative;
        display: flex;
        right: 20px;
        width: auto;
        height: 346px;
        bottom: 0;
        background-color: white;
        text-align: left;           
        border-radius: 25px;
        align-items: center;
        justify-content: center;
        padding: 0%;
        margin: 0%;
    }

    .profileInfo h1{
        padding-top: 5px;
        padding-left: 5px;
        font-size: 30px;
    }
    .profileInfo p{
        padding-left: 5px;
        font-size: 20px;
    }
    
    .socialLinks{
        width: auto;
        height: 300px;
        left: 25px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        position: relative;
        top: 0px;
        -webkit-backdrop-filter: blur(10px);
        backdrop-filter: blur(10px);
        border-radius: 50px;
        
    }

    .currentTime{
        background-color: rgba(3, 169, 244, 0.3);
        -webkit-backdrop-filter: blur(10px);
        backdrop-filter: blur(10px);
        border: 1px solid #03a9f4;
        border-radius: 50px;
        height: 30px;
        width: 220px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0;
        margin: 0;
        position: absolute;
        left: 10px;
        bottom: 20px;
        font-weight: bold;
        font-size: 15px;
    
    }
}

@media (max-width : 790px) {
    .profileInfo h1{
        padding-top: 5px;
        padding-left: 5px;
        font-size: 20px;
    }
    .profileInfo p{
        padding-left: 5px;
        font-size: 15px;
    }

}
